<h1>Pagina de inicio</h1>

<button><a href="http://localhost:8080/login">Iniciar sesion</a></button>

<button><a href="http://localhost:8080/register">Registrarse</a></button>

<button><a href="http://localhost:8080/perfil">Ir a mi perfil</a></button>

<button><a href="http://localhost:8080/productos">Ir a productos</a></button>
