<h3 style="text-align: center;">Restablecer contraseña</h3>

<form action="" id="formPassword" style="text-align: center;">
    <label style="display: block;" for="password">Nueva contraseña</label><input id="input_password" type="password" placeholder="password">
    {{!-- <label style="display: block;" for="password">Contraseña</label><input id="input_password" type="password" placeholder="Contraseña"> --}}
    <button style="gap: 2rem;" type="submit"> Cambiar contraseña</button>
</form>

{{!-- <a href="http://localhost:8080/login">Cancelar</a> --}}

<script src="/js/restablecer2.js"></script>