<h3 style="text-align: center;">Restablecer contraseña</h3>

<form action="" id="formRes" style="text-align: center;">
    <label style="display: block;" for="email">Email</label><input id="input_email" type="email" placeholder="Email">
    {{!-- <label style="display: block;" for="password">Contraseña</label><input id="input_password" type="password" placeholder="Contraseña"> --}}
    <button style="gap: 2rem;" type="submit"> Enviar correo</button>
</form>

<a href="http://localhost:8080/login">Cancelar</a>

<script src="/js/restablecer.js"></script>